extends layout
include mixins

mixin breadcrumb
  ul.breadcrumb
    for breadcrumb in breadcrumbs
        if breadcrumb.last
          li.active
            = env.helpers.breadcrumbText(breadcrumb)
        else
          li
            a(href=breadcrumb.url)= env.helpers.breadcrumbText(breadcrumb)

mixin topics(topics)
  ul.topics
    for topic in topics
      li.topic
        a( href=topic.url )= topic.title
        span.arguments= topic.argument_names
        if topic.api_url
          a.api( href=topic.api_url ) api
        +topics( topic.topics )

block content
  article.container-fluid
    div.row-fluid
      div.span6
        +breadcrumb
        header
          h2= page.title
        != page.html
        +topics( page.topics )
      div.span6
        +disqus()