mixin space
  &#160;

mixin highlight(code, language)
  - if ( !language ) { var language = 'javascript' }
  - var classes = [ 'highlight', language ]
  div(class=classes)
    div.ribbon
    div.scroller
      div.code
        pre
          != env.helpers.highlight(code)

mixin disqus
  div#disqus_thread
  script(type="text/javascript").
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'embersherpa'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

mixin args( args )
  - var values = Object.keys( args ).map( function(key) { return args[ key ] } )
  - var keys = Object.keys( args )
  - var length = keys.length
  span.args
    = "( "
    - var open
    each name, index in keys
      - var info = values[ index ]
      - open = info && info.open
      unless open
        if info.required
          strong
            = name
        else
          = name
      if index < length - 1
        = ", "
      - count = count + 1
    unless open
      = " )"

mixin value( value, highlight )
  span
    = ": "
    - var stringy = value.toString()
    != env.helpers.highlight( stringy )

mixin topics(topics, depth)
  - if ( !depth ) depth = 0
  - depth = depth + 1
  - var classes = [ 'topic', 'level-' + depth.toString() ]
  ul.topics
    for topic in topics
      li(class=classes)
        h5
          a( href=topic.url )= topic.title
          if topic.value
            +value( topic.value, topic.highlight )
          else if topic.open
            span= ": "
          if topic.arguments
            +args( topic.arguments )
          if topic.open
            span= "{"
        if topic.description
          p= "// " + topic.description
        if topic.topics.length
          +topics( topic.topics, depth )
        if topic.open
          span.h5
            = "}"
            if topic.last_arg_is_object
              = " );"


mixin breadcrumb
  div.row-fluid.breadcrumbs
    ul.breadcrumb.span8
      for breadcrumb in breadcrumbs
        if breadcrumb.last
          li.active
            = env.helpers.breadcrumbText(breadcrumb)
        else
          li
            a(href=breadcrumb.url)= env.helpers.breadcrumbText(breadcrumb)
    div.span4.page-options.visible-desktop
      +edit_button(page)

mixin edit_button( page )
  - var edit_url = env.config.repository.base + "/edit/master/contents" + page.url + "index.md"
  a.gh-btn.pull-right(href=edit_url)
    span.gh-ico
    span.gh-text
      = "Edit"

mixin twitter_follow()
  a(href="https://twitter.com/embersherpa",class="twitter-follow-button", data-show-count="false")="Follow @embersherpa"
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

mixin github_follow()
  iframe(src="http://ghbtns.com/github-btn.html?user=taras&type=follow", allowtransparency="true", frameborder="0", scrolling="0", width="132", height="20")

mixin github_star()
  iframe(src="http://ghbtns.com/github-btn.html?user=taras&repo=ember-sherpa&type=watch", allowtransparency="true", frameborder="0", scrolling="0", width="65", height="20")